/* .contact-section h1{
    text-align: center  ;
    color: #000a1f ;
    
}

.border{
    width: 100px;
    height: 10px;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text{
    display: block;
    width: 100rem ;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background-color: black;
    padding: 20px 40px;
} */